@{
    ViewData["Title"] = "Novo Caça Palavras";
}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card m-2">
                <!---<h5 class="card-title align-self-center m-2">Caça Palavras</h5>--->
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col-4 m-2">
                        <label>Título:</label> <input type="text" class="titulo" value="" name="titulo" maxlength="10" size="10" />
                    </div>
                    <div class="col-4">

                    </div>
                    
                </div>
                <div class="card-body row">
                    <div class="col-1">

                    </div>
                    <div class="col-1">
                        <input type="text" value="" class="inputCustom" name="input" id="input1" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input2" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input3" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input4" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input5" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input6" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input7" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input8" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input9" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input10" maxlength="1" size="1" />
                    </div>
                    <div class="col-1">
                        <input type="text" value="" class="inputCustom" name="input" id="input21" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input22" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input23" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input24" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input25" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input26" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input27" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input28" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input29" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input30" maxlength="1" size="1" />
                    </div>
                    <div class="col-1">
                        <input type="text" value="" class="inputCustom" name="input" id="input31" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input32" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input33" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input34" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input35" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input36" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input37" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input38" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input39" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input40" maxlength="1" size="1" />
                    </div>
                    <div class="col-1">
                        <input type="text" value="" class="inputCustom" name="input" id="input41" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input42" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input43" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input44" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input45" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input46" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input47" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input48" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input49" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input50" maxlength="1" size="1" />
                    </div>
                    <div class="col-1">
                        <input type="text" value="" class="inputCustom" name="input1" id="input51" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input2" id="input52" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input3" id="input53" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input4" id="input54" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input5" id="input55" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input6" id="input56" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input7" id="input57" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input8" id="input58" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input9" id="input59" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input1" id="input60" maxlength="1" size="1" />
                    </div>
                    <div class="col-1">
                        <input type="text" value="" class="inputCustom" name="input" id="input61" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input62" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input63" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input64" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input65" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input66" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input67" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input68" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input69" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input70" maxlength="1" size="1" />
                    </div>
                    <div class="col-1">
                        <input type="text" value="" class="inputCustom" name="input" id="input71" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input72" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input73" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input74" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input75" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input76" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input77" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input78" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input79" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input80" maxlength="1" size="1" />
                    </div>
                    <div class="col-1">
                        <input type="text" value="" class="inputCustom" name="input" id="input81" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input82" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input83" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input84" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input85" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input86" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input87" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input88" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input89" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input90" maxlength="1" size="1" />
                    </div>
                    <div class="col-1">
                        <input type="text" value="" class="inputCustom" name="input" id="input91" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input92" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input93" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input94" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input95" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input96" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input97" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input98" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input99" maxlength="1" size="1" />
                        <input type="text" value="" class="inputCustom" name="input" id="input100" maxlength="1" size="1" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="col-12 row">
                        
                        <div class="col-6">
                            <div class="col-12">
                                <label>a) </label> <input type="text" class="inputPalavras" value="" name="palavra" maxlength="15" size="15" />
                                <br />
                                <label>c) </label> <input type="text" class="inputPalavras" value="" name="palavra" maxlength="15" size="15" />
                                <br />
                                <label>e) </label> <input type="text" class="inputPalavras" value="" name="palavra" maxlength="15" size="15" />
                                <br />
                                <label>g) </label> <input type="text" class="inputPalavras" value="" name="palavra" maxlength="15" size="15" />
                                <br />
                                <label>i) </label> <input type="text" class="inputPalavras" value="" name="palavra" maxlength="15" size="15" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="col-12">
                                <label>b) </label> <input type="text" class="inputPalavras" value="" name="palavra" maxlength="15" size="15" />
                                <br />
                                <label>d) </label> <input type="text" class="inputPalavras" value="" name="palavra" maxlength="15" size="15" />
                                <br />
                                <label>f) </label> <input type="text" class="inputPalavras" value="" name="palavra" maxlength="15" size="15" />
                                <br />
                                <label>h) </label> <input type="text" class="inputPalavras" value="" name="palavra" maxlength="15" size="15" />
                                <br />
                                <label>j) </label> <input type="text" class="inputPalavras" value="" name="palavra" maxlength="15" size="15" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary ali m-2" value="Cadastrar" onclick="CadastrarAtividade()" id="cadastrarAtividade">Cadastrar Atividade</button>
                    </div>
                </div>
            </div>
        </div>
        <form id="__AjaxAntiForgeryForm" action="#" method="post"></form>
    </div>
</div>

<style>
    .inputCustom {
        margin-top: 5px;
        width: 40px;
        height: 40px;
    }

    .inputPalavras {
        margin-left: 25px;
    }
</style>

@section Scripts{
<script>
    function CadastrarAtividade() {

        var inputs = document.getElementsByName("input");
        var questoes = document.getElementsByName("palavra");
        var titulo = document.getElementsByName("titulo")[0].value;

        var palavras = "";
        var q1 = questoes[0].value;
        var q2 = questoes[1].value;
        var q3 = questoes[2].value;
        var q4 = questoes[3].value;
        var q5 = questoes[4].value;
        var q6 = questoes[5].value;
        var q7 = questoes[6].value;
        var q8 = questoes[7].value;
        var q9 = questoes[8].value;
        var q10 = questoes[9].value;

        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].value == "") {
                palavras += "-";
            } else {
                palavras += inputs[i].value;
            }
        }

        $.ajax({
            type: 'POST',
            url: "/CacaPalavras/CadastrarAtividades",
            data: {
                palavras: palavras,
                q1: q1,
                q2: q2,
                q3: q3,
                q4: q4,
                q5: q5,
                q6: q6,
                q7: q7,
                q8: q8,
                q9: q9,
                q10: q10,
                titulo: titulo,
                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
            },
            dataType: "json",
            success: function (retorno) {
                alert("Dados Atualizados com sucesso!");
                location.reload();
            },
            error: function (retorno) {
                alert("Ocorreu um erro inesperado");
                location.reload();
            }
        });
    }
</script>

}